<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <a id="show-a" href="/users/<%=user._id%>/workouts/<%=workouts._id%>/exercises/new">Add a Exercise</a>
    <div id="show-body">
        <% if (workouts) { %>
            <% if (exercises.length> 0) { %>
                <h3 id="new">Exercises</h3>
                <ul>
                    <% exercises.forEach(exercise=> { %>
                        <p>
                            <strong>
                                <%= exercise.name %>
                            </strong> <br>
                            <% if(exercise.reps) { %>
                                <%= exercise.reps %> Reps <br>
                                    <% } %>
                                        <% if(exercise.sets) { %>
                                            <%= exercise.sets %> Sets<br>
                                                <% } %>
                                                    <% if(exercise.duration) { %>
                                                        <%= exercise.duration %> minutes <br>
                                                            <% } %>
                                                                <% if(exercise.notes) { %><strong>Notes:</strong>
                                                                    <%= exercise.notes %> <br>
                                                                        <% } %>
                        </p>
                        <div>
                            <a href="/users/<%=user._id%>/workouts/<%=workouts._id%>/exercises/<%=exercise._id%>/edit">
                                <button style="font-size: 8px; "><i class="fa-solid fa-file-pen"></i></button>
                            </a>
                            <form
                                action="/users/<%=user._id%>/workouts/<%=workouts._id%>/exercises/<%=exercise._id%>?_method=DELETE"
                                method="POST">
                                <button style="font-size: 8px;">Delete</button>
                            </form>
                        </div>
                        <% }) %>
                </ul>
                <% } else { %>
                    <p>No exercises for this workout.</p>
                    <% } %>
                        <% } else { %>
                            <p>No workout found.</p>
                            <% } %>
    </div>


    <%- include('../partials/_backWork.ejs') %>
</body>

</html>