<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <div id="user-name">
        <h2><%= user.username %></h2>
    </div>
    <div id="info"> <strong>See how active other users are!</strong> </div>
    <% if (users.length > 0) { %>
    <div id="users">
    <% users.forEach(user => {%>
        <table id="users-card">
            <thead>
                <tr>
                    <th><strong><%= user.username %></strong></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%= user.workouts.length %> <%= user.workouts.length === 1 ? 'workout' : 'workouts' %> currently.</td>
                </tr>
            </tbody>
        </table>
        <% }) %>
    </div>
<% } %>
    
<%- include('../partials/_backHome.ejs')%>
</body>
</html>